<!-- views/show-donators.hbs -->

<h3>
    <a href="/">🔙</a>
</h3>

<h1>{{donators.companyName}}</h1>
<h1>{{donators.amount}}</h1>
<p>{{donators.description}}</p>

<!-- <button type="submit" name="editBtn">
    <a href="/donors/{{donor._id}}/edit">Edit</a>
</button> -->
<p>
    <a href="/donors/{{donators._id}}/edit">Edit</a>
</p>
